.red {
    background: red;
}

.grey {
    background: grey;
}

.last {
    padding-top: 20px;
}

input, textarea {
    width: 100%
}

h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 66.66%;
}

.flextable-1 {
    flex: 1;
}