<div class="content">
  <h3 class="first">
    <ng-container *ngIf="editMode">
      Edit printer
    </ng-container>
    <ng-container *ngIf="!editMode">
      Add printer
    </ng-container>
  </h3>

  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Name *:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-user"></i>
            </span>
            <input pInputText type="text" formControlName="name" placeholder="Name" />
          </div>
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['name'].valid&&(formGroup.controls['name'].dirty || formGroup.controls['name'].touched)">
            <i class="fa fa-close"></i>
            Name is required
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Status *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="STATUSES" formControlName="status" [filter]="true" [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['status'].valid&&(formGroup.controls['status'].dirty || formGroup.controls['status'].touched)">
            <i class="fa fa-close"></i>
            Status is required
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Network Address *:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-user"></i>
            </span>
            <input pInputText type="text" formControlName="ipAddress" placeholder="Network Address" />
          </div>
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['ipAddress'].valid&&(formGroup.controls['ipAddress'].dirty || formGroup.controls['ipAddress'].touched)">
            <i class="fa fa-close"></i>
            Network Address is required
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Description *:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-user"></i>
            </span>
            <textarea pInputTextarea formControlName="description" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['description'].valid&&(formGroup.controls['description'].dirty || formGroup.controls['description'].touched)">
            <i class="fa fa-close"></i>
            Description is required
          </div>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Color *:
        </div>
        <div class="ui-grid-col-6">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-user"></i>
            </span>
            <input pInputText type="text" formControlName="color" placeholder="Color" />
          </div>
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['color'].valid&&(formGroup.controls['description'].dirty || formGroup.controls['description'].touched)">
            <i class="fa fa-close"></i>
            Color is required
          </div>
        </div>
      </div>

      <div class="ui-grid-row last">
        <div class="ui-grid-col">
          <button class="cool-btn" (click)="submit()">Submit</button>
        </div>
        <div class="ui-grid-col" *ngIf="editMode">
          <button class="cool-btn red" (click)="delete()">Delete</button>
        </div>
        <div class="ui-grid-col">
          <button class="cool-btn grey" (click)="back()">Cancel</button>
        </div>
      </div>

    </div>
  </form>
</div>
