.header {
    display: flex;

    justify-content: space-evenly;
}

.category {
    min-width: 100px;
    width: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.content > div {
    display: flex;
    justify-content: space-evenly;

    padding: 10px 0;
}

.content > div > div {
    min-width: 100px;
    width: 100px;
}

.top {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}